@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family:  Ledger,system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --text-extra:#ffff;
  --text-color:#121212;
  --bg-color: #003e62;
  --button-color: #FFC700;
  --hover-color: #003e62;
  --layer-color: #F6F6F6;
  --layer-colo: #989898;
  --layers-colo: #cfcfcf90;  
  --tetra-color: #00a830;
  --base-color: #750037;
  --bases-color: #75003780;
  --base-colors: #75003730;
  --color-primary: linear-gradient(to right, hsl(200, 33%, 20%), #FFC700)
  
  

}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;  
  overflow-x: hidden;
}

.active {
  @apply text-[#FFC700]  font-bold  ;
}

.active img {
  filter: invert(81%) sepia(79%) saturate(6528%) hue-rotate(320deg) brightness(90%) contrast(90%);

}